<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Font awesome for icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

  <!-- App CSS -->
   <link rel="stylesheet" href="/styles/items_id.css" type="text/css" />

  <!-- App JS -->
   <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
   <script type="text/javascript" src="/scripts/items.js"></script>


  <title>Pokemon Page</title>
  </head>
  <body>
    <!-- TODO - Input EJS for partials/nav bar  -->
    <main>
      <h3>Specific Pokemon Page   </h3>

      <div class="pokemon-container">
        <div class="left-container">

          <% if (items[itemId-1].sold) { %>
          <span id=soldMarker> <b>SOLD</b> </span>
          <% } %>

          <span><img id="poke-pic"
            src= <%= items[itemId-1].picture_url %>
           alt="Bulbasaur">
        </span>

          <div class="poke-name">
            <span><%= items[itemId-1].title %>

            </span>
            <!-- <button class="favourite-btn"> -->
              <i class="fa-solid fa-heart"></i>
            <!-- </button> -->
          </div>
        </div>

        <div class="right-container">
          <div class="top-right-container">
            <p> <b>Price: </b> $<%= items[itemId-1].price_per_item / 100 %> </p>
            <p> <b>Posted On:</b> <%=  (items[itemId-1].posted_at).toISOString().slice(0, 10); %></p>
          </div>

           <p> <b> Quantity:</b> <%= items[itemId-1].quantity %></p>
           <p> <b> Description: </b> <%= items[itemId-1].description %> </p>
           <p> <b> Seller Name: </b> <%= items[itemId-1].name %>  </p>
           <p> <b> Seller Phone Number:</b> <%= items[itemId-1].phone_number %> </p>
           <p><b> Seller Email: </b> <%= items[itemId-1].email %> </p>
           <!-- TODO May need to revise route  -->
           <form action="/messages" method="POST">
              <textarea name="message" class="form-control" id="message" rows="2" placeholder="Message to seller"></textarea>
              <div class="my-2">
                <button type="submit" class="btn btn-primary mb-2">Send</button>
              </div>
          </form>
        </div>
       </div>
    </main>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  </body>
</html>
