<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/home.css" type="text/css">

    <title>Black Market Pokemon</title>
  </head>
  <body>
    <%- include('partials/nav_bar') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <main>
      <!-- SEARCH BAR AND FILTER .........................................................-->
      <div class="container-fluid">
        <div class="search-container horizontal-align">
          <div class="search-input-size">
            <form  action="/search" method="POST">
              <input name="search" type="text"  aria-label="search-container"  placeholder="Search" class="search form-control text-field-styling olgabutton" >
          </div>
          <div class="btn-group ">
            <button type="submit" class="btn btn-primary btn-lg right-margin ">Search</button>
          </div>
            </form>

            <div class="btn-group wide-10">
              <button type="button" class="btn btn-danger btn-lg dropdown-toggle wide-10 " data-bs-toggle="dropdown" aria-expanded="false">
                Filter
              </button>
                <ul class="dropdown-menu wide-10">
                  <li><a class="dropdown-item " href="/lowest">Price: Lowest</a></li>
                  <li><a class="dropdown-item " href="/highest">Price: Highest</a></li>
                  <li><a class="dropdown-item " href="/home">Newest: First</a></li>
                  <li><a class="dropdown-item " href="/oldest">Oldest: First</a></li>
                </ul>
            </div>
        </div>

        <!-- CAROUSEL ........................................................................-->
        <div class="container-fluid ">
          <article class="black height-20">
            <div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
              <div class="carousel-inner height-20">
              <% for (let i = 0; i < Math.floor(items.length/3); i++) { %>

                <% if (i === 0) { %>
                  <div class="carousel-item active">
                <% } else { %>
                  <div class="carousel-item">
                <% } %>

                  <div class="row ">
                    <div class="col-4 img-center">
                    <img class="d-block height-100 "
                    src=<%= items[0 + 3*i].picture_url %>
                    alt=<%= items[0 + 3*i].title %>
                    >
                    </div>
                    <div class="col-4 img-center">
                    <img class="d-block height-100"
                    src=<%= items[1 + 3*i].picture_url %>
                    alt=<%= items[1 + 3*i].title %>
                    >
                    </div>
                    <div class="col-4 img-center">
                    <img class="d-block height-100"
                    src=<%= items[2 + 3*i].picture_url %>
                    alt=<%= items[2 + 3*i].title %>
                    >
                  </div>
                </div>
              </div>

                <% } %>
            </div>
          </div>
      </article>


      <!-- FEATURED POKEMON ...........................................................................-->

      <div class="container-fluid center">

          <div class="row ">
            <div class="col sm">
              <h1 class="title-text">Featured Pokemon</h1>
            </div>
          </div>

      </div>
<!-- FEATURED PICTURES ..........................................................................-->

<!-- <div class="container-fluid"> -->
  <div class="container-fluid center">
    <div class="row sized">

      <% for (let i = 0; i < items.length; i++) { %>
        <div class="col">
          <a class="fixed left-right-padding top-bottom-padding " href="items/<%=items[i].id%>">
            <span class="text left-right-padding"> $ <%= items[i].price_per_item / 100 %></span>
            <img class="rounded mx-auto d-block featured-img"
            src=<%= items[i].picture_url %>
            alt=<%= items[i].title %>
            >
          </a>
        </div>
      <% } %>

    </div>
</main>
<%- include('partials/footer') %>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->


    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

  </body>
</html>

